
.icon-doc-text-inv:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e804'; } /* '' */
.icon-mail-1:before { content: '\e805'; } /* '' */
.icon-codepen:before { content: '\e806'; } /* '' */
.icon-linkedin:before { content: '\e807'; } /* '' */