@charset "utf-8";
/* CSS Document */

#banner{
	width:100%;
	height:450px;
	background:url(../imgs/topo-bg.jpg) fixed;
	background-size:100%;
	background-position:0 450px;
	z-index:3;
}
#perfil{
	width:500px;
	position:absolute;
	top:450px;
	left:50%;
	margin-left:-250px;
	text-align:center;
	z-index:4;
}
#perfil #foto{
	width:140px;
	height:140px;
	background:url(../imgs/pessoal.jpg);
	background-size:140px 140px;
	margin:0 auto;
	margin-top:-70px;
	border-radius:100%;
	border:3px solid #FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	margin-bottom:10px;
	z-index:7;
}
#perfil h1{
    font-size: 50px;
    font-weight: 700;
	text-align: center;
	margin-bottom:10px;
	color:rgba(0, 0, 0, 0.8);
	z-index:6;
}
#perfil p{
	color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    outline: 0px none;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
    margin: 0px;
    text-align: center;
    visibility: visible;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
	z-index:5;
}
#perfil #verMais{
	width:150px;
	padding:10px;
	border-radius:999em;
	cursor:pointer;
	background-color:#F1F1F1;
	border:1px solid rgba(183,38,40,0.50);
	color:rgba(190,50,50,0.90);
	text-align:center;
	margin:0 auto;
	margin-top:30px;
	opacity:0.6;
	transition: background-color 0.1s ease 0s, border-color 0.1s ease 0s, color 0.1s ease 0s;
	transition:all 0.5s;
}
#perfil #verMais:hover{
	opacity:1;
}
#statisticas{
	position:absolute;
	padding-top:60px;
	left:50%;
	margin-left:-500px;
}
#statisticas svg{
	width:200px;
	height:200px;
	margin-left:25px;
}
#statisticas #boxSts{
	width:250px;
	display:inline-block;
}
#statisticas #qntSts{
	width:150px;
	font-size:70px;
	font-weight:900;
	margin-left:50px;
	margin-top:-137px;
	text-align:center;
	color:#E7E7E7;
}
#statisticas #ttlSts{
	font-size:30px;
	margin-top:100px;
	color:#E7E7E7;
	text-align:center;
}
#servicos{
	padding-top:450px;
	width:910px;
	margin:0 auto;
	text-align:center;
	list-style: none outside none;
}
#servicos img{
	width:100%;
}
#servicos h1{
	font-size:36px;
	margin:10px;
}
#servicos h2{
	font-size:20px;
	font-weight:600;
	margin:20px;
	color: #3C4B5D;
	text-transform: uppercase;
}
#servicos #estruSvc{
	width:300px;
	display:inline-block;
	vertical-align:top;
}
#servicos ul li{
	font-style: italic;
	margin-top: 0.75em;
	font-size: 87.5%;
}
#projetos{
	text-align:center;
	color:#F4F4F4;
	font-weight:600;
}
#projetos:hover{
}
#projetos #barraPjt{
	width:100%;
	height:400px;
}
#projetos #barraPjt #contPjt{
	padding-top:107px;
}
#projetos h1{
	font-size:50px;
	margin:10px;
}
#projetos h2{
	font-size:20px;
	margin:5px;
}
#projetos #plus{
	width:80px;
	height:80px;
	margin:0 auto;
	cursor:pointer;
	background:url(../imgs/plus_btn.png) no-repeat scroll center center transparent;
}
#projetos #plus:hover{
	background:url(../imgs/plus_btn_hover.png) no-repeat scroll center center transparent;
}
#empresas{
	width:100%;
	padding-top:300px;
	padding-bottom:300px;
	text-align:center;
}
#empresas span{
	width: 435.75px;
	vertical-align: middle;
	margin:60px;
	margin-bottom:0;
	margin-top:0;
}
#empresas img{
	vertical-align: middle;
	width:15%;
	opacity:0.6;
}
#perfilCompleto{
	width:1080px;
	margin:0 auto;
	padding-bottom:200px;
}
/* Estudar isso */
#perfilCompleto #fotoVideo:after{
	position: absolute;
	z-index: 10;
	width: 370px;
	height: 370px;
	background:url(../imgs/mask.png) no-repeat scroll left top transparent;
	content: " ";
	top: 0px;
	left: 0px;
}
#perfilCompleto #fotoVideo{
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	width: 370px;
	height: 370px;
	display:inline-block;
	vertical-align:top;
}
#perfilCompleto #fotoVideo #overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background:url(../imgs/pattern_video.png) repeat scroll 0% 0% transparent;
	z-index: 10;
	top: 0px;
	right: 0px;
}
#perfilCompleto #fotoVideo #me_vid, video{
	margin-left: -190px;
	margin-top: 15px;
	display: block;
	vertical-align: baseline;
}
/* Estudar isso até aqui */
#perfilCompleto #sobre{
	width:300px;
	height:20px;
	display:inline-block;
	vertical-align:top;
	padding-left:20px;
}
#perfilCompleto #sobre h1{
	font-size:36px;
	margin-bottom:30px;
}
#perfilCompleto #sobre p{
	font-size: 18px;
	color: #73665D;
	line-height: 40px;
}
#perfilCompleto #informacoes{
	width:340px;
	display:inline-block;
	vertical-align:top;
	padding-left:40px;
}
#perfilCompleto #informacoes section{
	padding:10px;
	padding-left:0;
	border-bottom:1px solid rgba(115,102,93,0.3);
}
#perfilCompleto #informacoes section i{
	font-size:36px;
	margin-right:10px;
}
#pecatrabalho{
	padding-bottom:200px;
	padding-top:200px;
	width:100%;
	text-align:center;
}
#pecatrabalho input{
	padding:20px;
	margin:0 auto;
	font-size:24px;
	font-weight:bold;
	border-radius:3px;
	border:2px solid rgba(190, 50, 50, 0.9);
	color:rgba(190, 50, 50, 1);
}
#pecatrabalho input:hover{
	cursor:pointer;
	color:#FFFFFF;
	background:rgba(190, 50, 50, 1);
}
#opensource{
	width:100%;
	padding-top:400px;
	padding-bottom:200px;
	text-align:center;
}
#opensource h1{
	font-size: 36px;
	margin: 10px;
}
#opensource p{
	width:900px;
	margin:0 auto;
	color: #73665D;
	line-height:25px;
	padding:10px;
}
#opensource #photo{
	padding-bottom:20px;
}
#opensource #ultimosOpenSource{
	text-align:center;
	margin:0 auto;
	padding-top:40px;
}
#clients{
	margin:0 auto;
	width:800px;
}
#conseil-finance p{
	color:rgba(255,255,255,1.00);
	width:120px;
	font-size:10px;
	line-height:15px;
	border-radius:100%;
}
#footer{
	width:100%;
	float:left;
	clear:both;
	background:#384452;
	transition: all 0.5s ease 0s;
	display:block;
	vertical-align:baseline;
}
#footer #infoFooter{
	margin: 0px auto;
	width: 100%;
	max-width: 1160px;
	padding: 40px 0;
}
[class*="entypo-"] {
  font-family: 'entypo', sans-serif;
  float:left;
  width:30px;
  height:30px;
  text-align:center;
  font-size:30px;
  padding:20px;
  border-radius:100%;
  margin:10px;
  border-radius: 80px;
  border: 2px solid #272F38;
  display: block;
  color: #FFF;
  background: none repeat scroll 0% 0% #272F38;
  transition: all 0.25s ease 0s;
}
[class*="entypo-"]:hover {
  border: 2px solid #FFF;
}
#footer #infoFooter #redesInF{
	float:right;
}
#footer #infoFooter #infosInF{
	float:left;
}
#footer #infoFooter #infosInF div{
	display:block;
	font-size:16px;
	margin-top:10px;
	color: #687788;
}

@media (max-width: 873px) {
	#banner{
		background-size:873px;
	}
}
@media (max-height: 480px) {
	#banner{
		height:280px;
		background-position:0 280px;
	}
	#perfil{
		top:280px;
	}
	
}
@media (max-width: 480px) {
	#perfil{
		width:360px;
		margin-left:-180px;
	}
	#perfil h1{
		font-size:32px;
	}
	#perfil p{
		font-size:12px;
	}
}
@media (max-height: 320px) {
	#banner{
		height:130px;
		background-position:0 130px;
	}
	#perfil{
		top:130px;
	}
}
@media (max-width:320px) {
	#perfil{
		width:320px;
		margin-left:-160px;
	}
	#perfil h1{
		font-size:25px;
	}
	#perfil p{
		font-size:8px;
	}
}
